@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan&display=swap");
* {
  text-decoration: none;
}
h3 {
  color: red;
}
.boxeslikebutton {
  height: 48px;
  width: 350px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  border: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */

  letter-spacing: 2.57143px;
  text-transform: uppercase;

  color: #ffffff;
}

.informationalbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}
.boxforsourses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;

  font-size: 10px;
}
.rotationandtemperature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.smallboxes {
  height: 128px;
  width: 255px;
  left: 165px;
  top: 840px;
  border-radius: 0px;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.p2 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */

  letter-spacing: -1.5px;
  text-transform: uppercase;

  color: #ffffff;
}
.rotationandtemperature h1 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #ffffff;
}

a {
  text-decoration-line: underline;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.boxforpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.textbox {
  width: 350px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  /* or 179% */

  color: #ffffff;
  margin-top: -50px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  /* or 200% */

  text-align: center;
}
h2 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 105px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.smallboxes h1 {
  color: #ffffff;
}
.twopictures {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.threebuttonbox {
  display: none;
}

.imgplanets {
  width: 450px;
  height: 450px;
}

.smallimggeology {
  width: 150px;
  height: auto;
  margin-top: -130px;
  margin-left: 150px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
@media (max-width: 640px) {
  img {
    width: 20px;
  }

  .informationalbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
  }

  .smallboxes {
    height: 26px;
    width: 279px;
    left: 48px;
    top: 696px;
    border-radius: 0px;

    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .smallboxes h1 {
    font-family: Antonio;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.75px;
    text-align: right;
  }
  .boxeslikebutton {
    height: 10px;
    width: 80px;
    left: 271px;
    top: 89px;
    border-radius: nullpx;
    border: none;
    background-color: none;
  }

  .rotationandtemperature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .threebuttonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1.92857px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .imgplanets {
    width: 173px;
    height: 173px;
  }

  .smallimggeology {
    width: 70px;
    height: auto;
    margin-top: -100px;
    margin-left: 50px;
  }
  h2 {
    margin-top: -15px;
    font-size: 50px;
  }
}
