@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=League+Spartan:wght@400;700&display=swap");

* {
  color: none;
  margin: none;
  border-radius: none;
  outline: "none";
  text-decoration: none;
}
.card {
  background: #070724;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
}
a {
  text-decoration: none;
}
.headerspace {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "League Spartan", sans-serif;
  color: #ffffff;
  border-bottom: 0.1px solid gray;
}

.planetlist {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;

  color: #ffffff;
}
.mobileversionsmallballs {
  display: none;
}

.menue svg {
  display: none;
}

@media (max-width: 640px) {
  .headerspace {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "League Spartan", sans-serif;
    color: #ffffff;
    border: none;
  }

  .planetlist {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "League Spartan", sans-serif;
    border-top: 0.1px solid gray;
    gap: 50px;
  }
  .nameandball {
    margin-top: 30px;
    border-bottom: solid gray 0.5px;
  }

  h1 {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .imgplanets {
    width: 250px;
    height: 250px;
  }
  .threeboxeslikebuttons {
    display: none;
  }

  .nameandball {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
  }
  .menue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 250px;
  }
  .menue svg {
    display: block;
  }

  .smallbolls {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
  }

  .planetlist.show {
    display: block;
  }

  .planetlist.hide {
    display: none;
  }

  .testit {
    border: none;
    text-decoration: none;
  }
}
